#overview {
    text-align: center;
    text-decoration: underline;
    margin: 20px;
    font-size: 35px;
}

.detail-component {
    display: flex;
        align-items: center;
        flex-direction: column;
}

.detail-container {
    margin: 5px;
    padding: 10px;
    background-color: darkblue;
    max-width: 900px;
}

.details {
    
    display: flex;
        flex-direction: row;
        justify-content: center;
}

.info-text {
    background-color: aquamarine;
    border-radius: 0px 5px 5px 0px;
    border: 2px solid black;
    max-width: 700px;
}

#title {
    text-align: center;
}
.detail-boxes {
    display: flex;
        flex-direction: row;
}

.first-detail-box {
    background-color: aquamarine;
    display: flex;
        flex-direction: column;
}

.detail-img>img {
    border-radius: 5px 0px 0px 5px;
    border: 2px solid black;
}

.first-detail-box>span {
    font-size: 20px;
    margin: 3px;
}

.second-detail-box {
    margin-bottom: 15px;
    display: flex;
        flex-direction: column;
}

.second-detail-box>span {
    font-size: 20px;
    margin: 3px;
}

#description {
    max-width: 500px;
    font-size: 20px;
    margin: 3px;
}
