.filter-container {
    display: flex;
        flex-direction: row;
}

.search {
    margin: 5px;
}

.search>label {
    font-size: 20px;
}

.search>input {
    border: 2px solid black;
    padding: 10px 0px 10px 5px;
    margin-left: 7px;
}

#search-bar {
    text-align: left;
}

* {
    text-align: center;
}

h2 {
    margin: 20px;
    font-size: 35px;
    text-decoration: underline;
}

.result {
    background-color: darkblue;
    margin: 5px;
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
}

.result-movie {
    border: 1px solid black;
    border-radius: 5px;
    margin: 8px;
    background-color: aquamarine;
    font-size: 20px;
    text-align: left;
    max-width: 350px;
    display: flex;
        flex-direction: column;
}

img {
    height: 450px;
    max-width: 300px;
}

#title {
    margin: 0px;
    max-width: 300px;
}

#released {
    margin: 0px;
}

.details-link {
    padding: 10px;
}

.details-link>a {
    border: 2px solid black;
    border-radius: 15px;
    padding: 3px;
    background-color: darkblue;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.details-link>a:hover {
    text-decoration: underline;
}
