* {
    text-align: center;
}

h2 {
    margin: 20px;
    font-size: 35px;
    text-decoration: underline;
}

.popular {
    background-color: darkblue;
    margin: 5px;
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
}

.pop-movie {
    border: 1px solid black;
    border-radius: 5px;
    margin: 8px;
    background-color: aquamarine;
    font-size: 20px;
    text-align: left;
    max-width: 350px;
    display: flex;
        flex-direction: column;
}

.pop-movie>img {
    height: 450px;
}

.pop-movie>#title {
    margin: 0px;
    max-width: 300px;
}

.pop-movie>#released {
    margin: 0px;
}

.pop-movie>#description {
    margin-top: 5px;
}

.details-link {
    padding: 10px;
}

.details-link>a {
    border: 2px solid black;
    border-radius: 15px;
    padding: 3px;
    background-color: darkblue;
    color: white;
    font-size: 18px;
}