body {
    display: flex;
        justify-content: center;
}

header {
    background-color: darkblue;
    color: aquamarine;
    display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
}

h1 {
    text-align: center;
    margin: 40px;
    font-size: 40px;
    text-decoration: underline;
}

.header-top {
    width: 100%;
    display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
}

nav {
    margin-bottom: 5px;
}

.navLink {
    font-size: 25px;
    background-color:white;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.navLink:hover {
    text-decoration: underline;
}