<div *ngIf="!filter"class="pop-container">
    <h2>Popular Movies</h2>
    <div class="popular">
        <div class="pop-movie" *ngFor="let movie of movies">
            <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="Movie Poster">
            <span id="title"><strong>Title: </strong>{{movie.title}}</span>
            <br>
            <span id="released"><strong>Released: </strong>{{movie.release_date}}</span>
            <br>
            <div class="details-link">
                <a routerLink="/detail/{{movie.id}}"><strong>Details</strong></a>
            </div>
        </div>
    </div>
</div>